body {
  padding: 20px;
}

header {
  text-align: center;
  line-height: 1000px;
  height: 1000px;
  background-image: url("moon.jpg");
  background-size: 100%, auto;
  color: white;
}

p {
  padding: 20px;
}
