body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px;
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 200px;
  height: 25vw;
  background-image: url("moon.jpg");
  color: white;
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  padding: 5px;
  padding-left: 10px;

  color: darkslategray;
}

a {
  padding: 5px;
  padding-left: 10px;

  color: green;
}

footer {margin-top: auto;}
.page {display: flex; flex-direction: column; height: 100%; margin: 0px; padding: 20px;}
.focus {align-self: center;}
