body {
  padding: 20px;
}

main {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 200px;
  background-image: url("moon.jpg");
  color: white;
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  padding: 5px;
  padding-left: 10px;

  color: darkslategray;
}
